*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: #EEEEEE;
}
/* common styles */
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 400px;
}
.btn {
  padding: .58rem 1rem;
  border-radius: .25rem;
}
.btn-primary {
  background-color: #f13b3b;
  color: #eeeeee;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid #ff930f;
  color: #ff930f;
}

/* header-top styles */
nav {
  width: 100%;
  padding-top: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand-logo img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
nav ul li {
  font-weight: 500;
}
nav ul li a {
  cursor: pointer;
}
/* header-bottom style */
.header-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.header-bottom_banner {
    width: 52%;
    position: relative;
    padding: 1.5rem;
    background-color: #01151c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-bottom_banner img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: -50%;
  transform: translate(50%,-50%);
  object-fit: cover;
  align-self: start;
}
.banner-contents {
  margin-left: 3.5rem;
}
.banner-contents h2 {
  font-size: 1.85rem;
  color: #EEEEEE;
  font-weight: 600;
}
.banner-contents p{
  margin: 1.5rem 0;
  color: #ccc;
}
.banner-contents > a:nth-child(1){
  margin-top: 0;
  background: #d5afaf;
}
.banner-contents a{
  margin-top: .5rem;
  margin-right: 2.5rem;
  min-width: 10vw;
  font-weight: 300;
  text-align: center;
  display: inline-block;
}
.company-logo {
  width: 35%;
  margin: 1.8rem 0;
  text-align: center;
  /* background: rgb(216, 169, 169); */
  padding: .8rem 1.5rem;
  white-space: nowrap;
}
.company-logo p{
  font-weight: 550;
  text-align: center;
  font-size: 1.23rem;
}
.company-logo .logo {
  padding-top: .5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.company-logo img {
  display: inline-block;
}
/* start section catelogue styles */
.section-catelogue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75rem;
  min-height: 50vh;
  background-color: #020e13;
}
.section-catelogue h2 {
  color: #EEEEEE;
  text-align: center;
  padding: .85rem 0;
}
.menu {
  width: 100%;
  min-height: 50vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: .5rem;
 flex-wrap: wrap;
}
.menu .card {
  width: 45%;
  padding: 1rem;
  background-color: #f7f3f3;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card .card-body {
  margin-left: 1.5rem;
}
.card .card-body h3{
  text-transform: capitalize;
  margin-bottom: .5rem;
  font-size: 1.3rem;
  color: #ff930f;
  font-weight: 600;
}
.card .card-body p{
  font-size: .75rem;
}

/* section recommendetion */
.section-recommend {
  padding: 1rem 0;
  min-height: 50vh;
}
.search-box {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box .input-control {
  width: 50%;
}
.input-control input {
  position: relative;
  border: none;
  outline: none;
  padding: .5rem .5rem;
  width: 50%;
  border: 1px solid #1F6E8C;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-control .fa-magnifying-glass {
  position: absolute;
  background-color: #1F6E8C;
  padding: .58rem .58rem;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  color: #ede9e9;
}
.search-box .order-menu-control {
  white-space: nowrap;
}
.search-box .order-menu-control a:first-child{
  border-color: #1F6E8C;
  color: #1F6E8C;
}
.search-box .order-menu-control a:last-child{
  text-align: center;
  margin-left: 1.2rem;
  display: inline-block;
}
.search-box .order-menu-control a > span {
  margin-left: .5rem;
  text-align: center;
  font-weight: bold;
  width: 18px;
  height: 18px;
  font-size: .85rem;
  background: #ede9e9;
  border-radius: 50%;
  color: #01151c;
  display: inline-block;
}
.menu-list-button {
  margin-top: 1.5rem;
  display: flex;
  gap: .8rem;
}
.active-menu {
  background-color: #f13b3b;
  padding: .5rem;
}
.tab-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  border: 1px solid #041b24;
  text-align: center;
  border-radius: 4px;
}
.tab-menu > a:nth-child(1){
  text-align: center;
  display: inline-block;
  align-self: center;
  margin-left: 1.25rem;
}
.tab-menu > a {
  font-size: .75rem;
  color: #9acbdd;
  align-self: center;
}
 .tab-menu-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #b2b7bc;
}

.tab-menu-secondary > a {
  font-size: .85rem;
  text-align: center;
  margin-left: 0 !important;
  color: #01151c !important;
}
.food-product-wrapper {
  margin-top: 2.5rem;
  padding: .75rem;
  padding-left: 0;
  display: flex;
}
/* slider-card styles */
.products-slider {
  position: relative;
  width: 35%;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.products-slider .card {
  position: absolute;
  width: 100%;
  background-color: #020e13;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
}
.products-slider .card .card-body{
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.products-slider .card .card-body .card-desc {
  margin-top:1.5rem;
  margin-left: 1.5rem;
  align-self: end;
}
.products-slider .card .card-body .card-desc h3 {
  color: rgb(247, 40, 98);
}
.products-slider .card .card-body .card-desc h5,span {
  color: #e4dbdb;
  font-size: 1.2rem;
  letter-spacing: .5px;
  font-weight: 300;
}
.products-slider .card .card-body > .card-desc h6 {
  margin-top: .5rem;
  font-size: .75rem;
  color: #fffafa;
}
.card-desc span {
  font-size: .75rem;
  color: #ccc;
}
.card-desc h6 > sub {
  color: #aeacac;
  padding-left: .25rem;
  font-size: .55rem;
}
.products-slider .card .card-body > img{
  position: absolute;
  width: 45%;
  bottom:50%;
  right: 5%;
  transform: translateY(50%);
  margin-bottom: .5rem;
  object-fit: cover;
  border-radius: 50%;
}
.products-list {
  width: 80%;
  overflow: hidden;
  margin-left: 1.5rem;
}
.products-list h3 {
  font-size: 1.2rem;
}
.recommended-products {
  margin-top: .8rem;
  white-space: nowrap;
  overflow-x: auto;
}

.recommended-products ::-webkit-scrollbar {
  display: none;
}

.recommended-products .card{
  width: 250px;
  border: .25px solid #ccc;
  border-radius: .25rem;
  display: inline-block;
  gap: .5rem;
  box-sizing: border-box;
  transition: all .2s linear;
}
.recommended-products .card .card-body {
  overflow: hidden;
  display: flex;
}
.recommended-products .card .card-body .card-desc {
  align-self: center;
}
.recommended-products .card .card-body .card-desc h5 {
  margin: .25rem 0;
  font-weight: 400;
}
.recommended-products .card .card-body .card-desc h6 {
  font-size: .8rem;
}

.recommended-products .card .card-body img {
  align-self: end;
}


/* swiper-css */
.swiper-pagination-bullet{
  background-color: #80ef50;
} 
.swiper-pagination-bullet-active {
  background-color: #f2e7e7;
}
 /* .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 } */
/* latesty-recommended */
.lastest-recommended .products-list {
  margin-top: 1.2rem;
  margin-left: 0;
  width: 100%;
}

/* mobile device media query */
@media screen and (max-width:468px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    align-self: start;
    align-items: start;
    margin-left: .5rem;
  }
  
}